PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/trends_bird_db?schema=public"
JWT_SECRET="super-secret-jwt-access-key-trends-bird-2026"
JWT_EXPIRATION="15m"
JWT_REFRESH_SECRET="super-secret-jwt-refresh-key-trends-bird-2026"
JWT_REFRESH_EXPIRATION="7d"
UPLOAD_DIR="./uploads"
